* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}


body {
    /* ne flek fungsi untk biar nya kesamping sejajar jadi e */
display: flex; 
/* ne kek tiggi body e isi e */
min-height: 100vh;
/* ne bg */
background: #f4f6f8;
}



.sidebar {
width: 220px;
background: #1f2937;
color: #fff;
padding: 20px 0;
}


.sidebar h2 {
text-align: center;
margin-bottom: 20px;
font-size: 18px;
}


.sidebar ul {
list-style: none;
}


.sidebar ul li {
padding: 12px 20px;
cursor: pointer;
}


.sidebar ul li:hover {
background: #374151;
}


.sidebar ul li a {
color: #fff;
text-decoration: none;
display: block;
}



.content {
/* untuk jarak e atas bawah kiri kanan nak ya */
padding: 20px;
}


.content h1 {
margin-bottom: 10px;
}

#box-satuduatiga {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 20px;
  width: 1600px;
  height: 150px;
}

#total, #hadir, #izin,#sakit,#alpa {
  border: 2px solid #ccc;
  border-radius: 7px;
  padding: 20px;
  background: #fff;
  text-align: center;
  font-family: Arial;
  font-weight: 800;
}

#total{
  background-color: yellow;
}

#hadir{
  background-color: blue;
}

#izin{
  background-color: rgb(255, 0, 221);
}

#sakit{
  background-color: purple;
}

#alpa{
  background-color: red;
}


#absen {
margin-top: 20px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background: #11cc2a;
}




#batenabsen{
  background-color:  rgb(0, 134, 175);
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 15px;
  width: 100%;
}

select{
  border: none;
 font-family: Arial, Helvetica, sans-serif;
}

